@import "tailwindcss";

:root {
  /* Warm & Bright Palette (Light Theme) */
  --background: #F8F4E9;
  /* Cream */
  --foreground: #252525;
  /* Charcoal */
  --color-cream: #F8F4E9;
  --color-beige: #EFE0C8;
  --color-orange: #F78320;
  --color-charcoal: #252525;
}

body {
  background: var(--background);
  color: var(--foreground);
}