@import "tailwindcss";

:root {
  /* Warm & Bright Palette */
  --background: #252525;
  /* Charcoal for body contrast */
  --foreground: #F8F4E9;
  /* Cream for text */
  --color-cream: #F8F4E9;
  --color-beige: #EFE0C8;
  --color-orange: #F78320;
  --color-charcoal: #252525;
}

body {
  background: var(--background);
  color: var(--foreground);
}